@page "/"
@inject CursoSBP.Common.Services.IApiService ApiService
@inject CursoSBP.Web.Helpers.IConfigurationRoutes Routes

<PageTitle>Index</PageTitle>

<h1>Lista de Estudiantes</h1>

Lista de Estudiantes ordenados por Identificador
<IgbDataGrid
    Height="400px"
    DataSource= "studentList">
</IgbDataGrid>

@code{
    protected List<Student>? studentList;
    protected async override Task OnInitializedAsync()
    {
        try
        {
            var request = await ApiService.GetListAsync<Student>(
                Routes.ApiUrl, 
                Routes.Prefix, 
                Routes.Students);
            if (request.IsSuccess)
            studentList = (List<Student>)request.Result;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}