@page "/"
@inject CursoSBP.Common.Services.IApiService ApiService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<IgbDataGrid
    Height="400px"
    DataSource= "studentList">
</IgbDataGrid>

@code{
    private string urlApi = "https://localhost:7131/";
    private string prefix = "api/";
    private string controller = "Students";
    protected List<Student>? studentList;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            var request = await ApiService.GetListAsync<Student>(urlApi, prefix, controller);
            if (request.IsSuccess)
            {
                studentList = (List<Student>)request.Result;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}